version: '3'
services:
  grafana:
    image: grafana/grafana:7.3.6
    ports:
      - "3000:3000"
    environment:
      GF_LOG_LEVEL: debug
      GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS: hadesarchitect-cassandra-datasource
    volumes:
      - /var/lib/grafana
      - .:/var/lib/grafana/plugins/cassandra
  cassandra:
    image: cassandra:3.11
    ports:
      - "9042:9042"
    environment:
     CASSANDRA_ENABLE_USER_DEFINED_FUNCTIONS: "true"
    volumes:
      - /var/lib/cassandra
      - ./cassandra-entrypoint.sh:/docker-entrypoint.sh
      - ./test_data.cql:/test_data.cql
