on:
  release:
    types: [created]
name: Handle Release
jobs:
  generate:
    name: Create release artifacts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@master
      - name: npm install
        run: docker run --rm -v ${PWD}:/opt/gcds -w /opt/gcds node:11 npm install
      - name: webpack
        run: docker run --rm -v ${PWD}:/opt/gcds -w /opt/gcds node:11 node node_modules/webpack/bin/webpack.js
      - name: dep ensure
        run: docker run --rm -v ${PWD}:/go/src/github.com/ha/gcp -w /go/src/github.com/ha/gcp instrumentisto/dep ensure
      - name: go build linux
        run: docker run --rm -v ${PWD}:/go/src/github.com/ha/gcp -w /go/src/github.com/ha/gcp golang go build -i -o ./dist/cassandra-plugin_linux_amd64 ./backend
      - name: backend tests
        run: docker run --rm -v ${PWD}:/go/src/github.com/ha/gcp -w /go/src/github.com/ha/gcp golang go test ./backend
      - name: go build windows
        run: docker run --rm -v ${PWD}:/go/src/github.com/ha/gcp -w /go/src/github.com/ha/gcp -e GOOS=windows -e GOARCH=amd64 golang go build -i -o ./dist/cassandra-plugin_windows_amd64 ./backend
      - name: go build darwin
        run: docker run --rm -v ${PWD}:/go/src/github.com/ha/gcp -w /go/src/github.com/ha/gcp -e GOOS=darwin -e GOARCH=amd64 golang go build -i -o ./dist/cassandra-plugin_darwin_amd64 ./backend
      - name: Package tar
        run: tar -czvf cassandra-datasource-${{ github.event.release.tag_name }}.tar.gz ./dist
      - name: Package zip
        uses: jjkaram/archive-action@master
        with:
          args: "zip -r cassandra-datasource-${{ github.event.release.tag_name }}.zip ./dist"
      - name: Upload the artifacts
        uses: skx/github-action-publish-binaries@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: './cassandra-datasource-${{ github.event.release.tag_name }}.*'
